PORT=8000

# Database - Mariadb
MARIADB_HOST=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_PORT=

# Slack
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=

# Discord
DISCORD_WEBHOOK_URL=

# OpenAPI
OPENAPI_TOKEN=
OPENAPI_BASEURL=
OPENAPI_RESOURCE_RESTDAY=