PORT=8000

# Database - Mariadb
MARIADB_HOST=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_PORT=

# Database - Mongo
MONGO_URI=
MONGO_HOST=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=

# Slack
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
TEAM_ID=

# Discord
DISCORD_WEBHOOK_URL=